@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary: #c5c5c0;
    --secondary: #e9e8e3;
    --tertiary: #3e3744;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.primary-clr {
    fill: var(--primary);
}

.secondary-clr {
    fill: var(--secondary);
}

.tertiary-clr {
    fill: var(--tertiary);
}

.ceiling {
    stroke: var(--primary);
    filter: drop-shadow(0px 0px 2px black);
}

.inner {
    stroke: var(--primary);
    transform-origin: center center;
    transform: scale(0.98);
}

.inner.left {
    filter: drop-shadow(3px 2px 3px black);
}

.inner.right {
    filter: drop-shadow(-3px 2px 3px black);
}

.inner.bottom {
    filter: drop-shadow(0px -2px 3px black);
}